---

# {{ ansible_managed }}

{% if bohr_journals | length == 0 %}
# No journals were configured by Ansible for Bohr.
{% else %}
journals:
{% for journal in bohr_journals %}
  - {{ journal }}
{% endfor %}
{% endif %}

{% if bohr_config | length > 0 %}
{{ bohr_config | to_nice_yaml }}
{% endif %}
